.badge-sm {
    font-size: 50%;
}

.badge-md {
    padding: 6px 11px;
}

.badge-default {
    background: #ebebeb;
    color: #777;
}

.badge-primary {
    background: #ccc;
    color: #fff;
}

.badge-success {
    background: #47a447;
    color: #fff;
}

.badge-warning {
    background: #ed9c28;
    color: #fff;
}

.badge-danger {
    background: #d2322d;
    color: #fff;
}

.badge-info {
    background: #5bc0de;
    color: #fff;
}

.badge-dark {
    background: #171717;
    color: #fff;
}