.editor-controls {
    height: 100%;
    display: flex;
    flex-direction: column;

    .controls {
        max-height: 100%;
        display: flex;
        flex-direction: column;

        .field-config {
            height: 100%;
            max-height: calc(100vh - 168px);
            display: flex;
            flex-direction: row;
        }
    }
}