.worklog-gadget-container {
  .scroll-table-container {
    height: calc(100vh - 121px);
    overflow: auto;
  }
}

td .user-info {
    min-height: 42px;
    padding: 5px 15px;
    border: 0;

    img {
        border: 2px solid #f5f5f5;
        -moz-border-radius: 20%;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        width: 40px;
        margin-right: 5px;
      }

      .name {
        font-weight: bold;
      }

      .email {
        display: block;
      }
  }
    
  .fa.drill-down {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 4px !important;
    color: #d3d3d3;
    cursor: pointer;
  }
  
  tr.grouped-row {
    font-weight: bold;
    background-color: #F8F8F8;
    cursor: pointer;
  
    &.left td:first-child {
      text-align: left;
    }
  
    &.right td:first-child {
      text-align: right;
    }
  
    .fa.drill-down {
      margin-top: 3px;
      margin-bottom: 0;
      margin-right: 6px !important;
    }
  }