.worklog-gadget-container {
  .scroll-table-container {
    height: calc(100vh - 121px);
    overflow: auto;

    &.flat-data-grid {
      height: calc(100vh - 168px);
    }
  }

  span.estimate {
    padding-left: 5px;
  }
}

td.day-wl-block {
  &:hover {
    position: relative;

    span.add-wl {
      position: absolute;
      display: block;
    }
  }

  span.add-wl {
    background-color: green;
    border: 1px solid white;
    float: right;
    padding: 4px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    border-radius: 20%;
    display: none;
  }

  span.add-wl:hover {
    opacity: 0.6;
  }
}

td.col-holiday {
  background-color: #d3d3d3 !important;

  &:hover span.add-wl {
    display: none;
  }
}

td .user-info {
    min-height: 42px;
    padding: 5px 15px;
    border: 0;

    img {
        border: 2px solid #f5f5f5;
        -moz-border-radius: 20%;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        width: 40px;
        margin-right: 5px;
      }

      .name {
        font-weight: bold;
      }

      .email {
        display: block;
      }
  }
    
  .fa.drill-down {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 4px !important;
    color: #d3d3d3;
    cursor: pointer;
  }
  
  tr.grouped-row {
    font-weight: bold;
    background-color: #F8F8F8;
    cursor: pointer;
  
    &.left td:first-child {
      text-align: left;
    }
  
    &.right td:first-child {
      text-align: right;
    }
  
    .fa.drill-down {
      margin-top: 3px;
      margin-bottom: 0;
      margin-right: 6px !important;
    }
  }