.query-editor-gadget {
    &.gadget.full-height.docked {
        height: auto;

        .p-panel-content {
            height:auto;
        }
    }
}

.query-editor {
    .jql-editor .jql-query {
        height: calc(100vh - 194px);
    }

    .display-fields {
        max-height: calc(100vh - 189px);

        table.scroll-table {
            thead{
                tr{
                    th:nth-child(1) { cursor: pointer; width: 70px; }
                    th:nth-child(4) { width: 50px; }
                }
            }
        }
    }
}
