.query-editor-gadget {
    &.gadget.full-height.docked {
        height: auto;

        .p-panel-content {
            height: auto;
        }
    }
}

.query-editor {
    .p-tabview-panel {
        height: calc(100vh - 170px);
    }

    .jql-editor .jql-query {
        height: calc(100vh - 194px);
    }

    .display-fields {
        max-height: calc(100vh - 189px);

        table.scroll-table {
            thead {
                tr {
                    th:nth-child(1) {
                        cursor: pointer;
                        width: 70px;
                    }

                    th:nth-child(5) {
                        width: 200px;

                        input {
                            width: 100%;
                        }
                    }

                    th:nth-child(4),
                    th:nth-child(6),
                    th:nth-child(7) {
                        width: 50px;
                    }
                }
            }

            tbody {
                tr {
                    td:nth-child(3) {
                        input {
                            width: 100%;
                        }
                    }
                }
            }

            .fa-edit {
                color: blue;
                cursor: pointer;
            }

            .fa-times {
                color: red;
                cursor: pointer;
                font-size: 22px;
            }
        }
    }
}

.expr-editor {
    width: 100%;
    min-height: 60px;
    max-height: 350px;
}

.error-block {
    padding: 15px;
    color: red;
}