body.fs-layout {
    overflow: hidden;
}

div.gadget {
    float: left;

    div.gadget-header {
        padding: 4px 3px 0 5px;
        height: 30px;
        margin: -5px;
    }

    &.full-screen {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100vw;
        height: 100vh;
        margin: 0 !important;

        div.p-panel-content {
            height: calc(100vh - 42px);
            padding: 0;
            overflow: auto;
        }

        .p-panel-header {
            border-top: none;
        }
    }

    &.half-width:nth-child(2n) {
        margin-left: 4px;
    }

    &.half-width:nth-child(2n-1) {
        margin-left: 2px;
    }

    .p-panel-header {
        border-top: 3px solid #2684ff;
        padding: 0.571em 0.5em 0.571em 1em;
        background-color: #fff;

        div.float-end {
            margin-top: -3px;

            .p-dropdown {
                height: 28px;
                margin-top: -3px;
                width: 150px;

                .p-dropdown-label {
                    padding: 2px 4px;
                }
            }
        }
    }

    position: relative;

    .report-viewer {
        height: 100%;

        .report-items {
            height: 100%;

            .report-item {
                max-height: 100%;
            }
        }
    }
}

div.full-width {
    width: calc(100% - 5px);
    margin-left: 4px;
}

div.full-height {
    &:not(.docked) {
        height: calc(100vh - 94px);

        div.p-panel-content {
            height: calc(100vh - 143px);
            padding: 0;
            overflow: auto;
        }
    }

    &.docked {
        height: calc(100vh - 52px);

        .p-panel-header {
            border-top: none;
        }

        div.p-panel-content {
            height: calc(100vh - 100px);
            padding: 0;
            overflow: auto;
        }
    }
}

@media screen and (min-width: 992px) {
    div.half-width {
        width: calc(50% - 4px);
    }
}

@media screen and (max-width: 992px) {
    div.half-width {
        width: 100%;
    }
}

div.half-height {
    height: calc(50vh - 53px);
    margin: 3px 0;

    .p-panel-content {
        height: calc(50vh - 97px);
        padding: 0;
    }
}

/* Table related styles */

.fa.icon-hint {
    font-size: 25px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    color: orange;
    cursor: help;
}

ul.gadget-hint {
    padding-left: 20px;
}