.p-panel-title {
    .p-dropdown {
        width: 90px;
    }
}

/* #region Calendar view related styles */

.fc-time .fa-ellipsis-v {
    font-size: 16px;
    padding: 6px;
    color: #fff;
}

.fc-time .fa:hover {
    color: #228b22;
}

.fc-time .fa:hover {
    color: #228b22;
}

.fc-time .fa-clock-o {
    font-size: 13px;
    margin-left: 3px;
    margin-top: 3px;
}

.fc-time .fc-hour {
    font-size: 12px;
    margin-left: 8px;
    padding: 1px 4px 1px 1px;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
}

.fc .ui-state-highlight {
    background-color: #fcf8e3;
    border-color: #ddd;
}

.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
    color: #fff !important;
    text-decoration: none;
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
    padding: 4px 4px;
    font-size: 14px !important;
}

.fc-toolbar.fc-header-toolbar {
    display: none;
}

.fc-widget-header {
    background: repeat-x #f6f7f9;
    background: linear-gradient(to bottom, #f6f7f9 0, #ebedf0 100%);
    font-weight: 400;
}

/* #endregion */
