.gadget.full-height {
  .worklog-report-container {
    .scroll-table-container {
      height: calc(100vh - 166px);

      &.flat-data-grid {
        height: calc(100vh - 210px);
      }
    }

    .p-tabview.multi-view {
      .scroll-table-container {
        height: calc(100vh - 197px);

        &.flat-data-grid {
          height: calc(100vh - 244px);
        }
      }
    }
  }

  &.docked {
    .worklog-report-container {
      .scroll-table-container {
        height: calc(100vh - 121px);

        &.flat-data-grid {
          height: calc(100vh - 168px);
        }
      }

      .p-tabview.multi-view {
        .scroll-table-container {
          height: calc(100vh - 156px);

          &.flat-data-grid {
            height: calc(100vh - 203px);
          }
        }
      }
    }
  }

  .worklog-report-container {
    .scroll-table-container {
      overflow: auto;

      td[data-test-id="total"] {
        text-align: center;
      }

      thead {
        tr {
          th {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.gadget.half-height {
  .worklog-report-container {
    .scroll-table-container {
      height: calc(50vh - 121px);
      overflow: auto;

      &.flat-data-grid {
        height: calc(50vh - 168px);
      }

      td[data-test-id="total"] {
        text-align: center;
      }

      thead {
        tr {
          th {
            vertical-align: middle;
          }
        }
      }
    }

    .p-tabview.multi-view {
      .scroll-table-container {
        height: calc(50vh - 156px);

        &.flat-data-grid {
          height: calc(50vh - 203px);
        }
      }
    }
  }
}

.worklog-report-container {
  .scroll-table-container {
    td[data-test-id="total"] {
      text-align: center;
    }

    thead {
      tr {
        th {
          vertical-align: middle;
        }
      }
    }
  }

  span.estimate {
    padding-left: 5px;
  }

  td.day-wl-block {
    &:hover {
      position: relative;

      span.add-wl {
        position: absolute;
        display: block;
      }
    }

    span.add-wl {
      background-color: green;
      border: 1px solid white;
      float: right;
      padding: 4px;
      top: 0;
      right: 0;
      cursor: pointer;
      color: white;
      border-radius: 20%;
      display: none;
    }

    span.add-wl:hover {
      opacity: 0.6;
    }
  }

  tbody:not(.no-log-bg-hl) {
    td.col-holiday {
      background-color: #ffe7d2 !important;

      &:hover span.add-wl {
        display: none;
      }
    }
  }

  td .user-info {
    min-height: 42px;
    padding: 5px 15px;
    border: 0;

    img {
      border: 2px solid #f5f5f5;
      -moz-border-radius: 20%;
      -webkit-border-radius: 20%;
      border-radius: 20%;
      width: 40px;
      margin-right: 5px;
    }

    .name {
      font-weight: bold;
    }

    .email {
      display: block;
    }

    .fa.drill-down {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  .fa.drill-down {
    margin-right: 4px !important;
    color: #d3d3d3;
    cursor: pointer;
  }

  td .user-info-min {
    .fa.drill-down {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  tr.grouped-row {
    font-weight: bold;
    background-color: #F8F8F8;
    cursor: pointer;

    td {
      text-align: center;
    }

    &.left td:first-child {
      text-align: left;
    }

    &.right td:first-child {
      text-align: right;
    }

    .fa.drill-down {
      margin-top: 3px;
      margin-bottom: 0;
      margin-right: 6px !important;
    }
  }
}