.groupable-grid {
    height: 100%;

    &.groups-hidden .scroll-table-container {
        height: 100%;
    }

    .scroll-table-container {
        height: calc(100% - 46px);
        max-height: calc(100vh - 134px);

        table > thead:not(.scroll-overlay) th:not(.foldable),
        table > tbody td:not(.group-indent-td) {
            max-width: 700px;
        }
    }
}

div.columns-list-container {
    position: relative;

    div.columns-list {
        right: 0;
        position: absolute;
        z-index: 8;
        height: 500px;
        width: 300px;
        background-color: #f8f8f8;
        border: 1px solid #c8ced3;
        
        div.column-list-title{
            height: 46px;
            border-bottom: 1px solid #c8ced3;
            padding: 12px 15px 8px 15px;
            font-size: 15px;
            font-weight: bold;

            .fa {
                float: right;
                font-size: 18px;
                cursor: pointer;
            }
        }

        div.columns-list-items {
            padding: 12px;
            overflow: auto;
            height: calc(100% - 46px);
        }
    }
}

th.group-header {
    &.foldable {
        min-width: 20px !important;
        max-width: 27px !important;
        padding: 2px !important;
    }
}

td.group-toggler-td, td.group-indent-td, td.group-name-td {
    background-color: #ededed;
}

td.group-toggler-td {
    border-right: 0;
    border-bottom: 0 !important;
    cursor: pointer;
}

td.group-indent-td {
    width: 25px;
    border-top: 0;
    border-bottom: 0;
}

td.group-name-td {
    border-left: 0;
    padding-left: 1px !important;
    font-weight: bold;
    
    .fa-caret-right {
        cursor: pointer;
        font-size: 20px;
        margin-right: 8px;
    }
}

.group-bar {
    padding: 3px 15px;

    .fa {
        cursor: pointer;
    }

    .group-mode-icon {
        float: right;
        margin: 7px 4px;
        font-size: 25px;
        border: 1px solid #c8ced3;
        padding: 1px 3px;

        &.active {
            background-color: lightgray;
        }
    }

    .group-label {
        font-weight: bold;
    }

    .group-list-container {
        display: inline-block;

        & > div.empty-group-msg {
            margin: 10px 8px;
        }

        div[draggable], div.drop-message {
            display: inline-block;
        }
    }

    .group-list {
        margin: 1px 2px;
        display: inline-block;

        .group-list-item {
            display: inline-block;
            margin: 4px 5px 0 5px;
            padding: 3px 8px;
            border: 1px solid #c8ced3;
            background-color: #fafafb;
            cursor: move;
            
            .sort-icon {
                margin-right: 12px;
                cursor: pointer;
            }

            .fa-times {
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}