.tickets-List {
    max-height: 400px;
    padding: 0 12px 0 0;
    overflow-y: auto;

    &>.item {
        height: 55px;
        background: rgb(202, 200, 246);
        background: linear-gradient(173deg, rgba(202, 200, 246, 1) 0%, rgba(176, 172, 244, 1) 39%, rgba(150, 146, 224, 1) 76%);
        border-radius: 15px;
        padding: 5px 5px 5px 13px;
        margin: 8px auto;
        display: flex;

        .block-1 {
            display: block;
            min-width: 100px;
            height: 100%;

            .icon {
                display: block;

                img {
                    height: 24px;
                    width: 24px;
                }
            }

            .key {
                display: block;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .controls {
            height: 100%;
            display: block;
            padding: 3px 10px;
            overflow: hidden;

            .fa {
                font-size: 18px;
                display: block;
                margin-bottom: 5px;
                cursor: pointer;

                &.fa-play {
                    color: green;
                }

                &.fa-pause {
                    color: orange;
                }

                &.fa-stop {
                    color: red;
                }
            }
        }

        .desc {
            height: 100%;
            display: block;
            padding: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}