.timer-control-container {
    padding: 0 15px;

    div.ticket {
        padding: 3px 5px;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        .key {
            font-weight: 600;
            margin-right: 5px;
        }

        .summary {
            margin-left: 5px;
        }
    }

    div.wl-comments {
        padding: 3px 5px;

        .text {
            display: block;
            font-size: 20px;
            cursor: pointer;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .no-comment {
            font-style: italic;
            cursor: pointer;
        }

        input {
            font-size: 20px;
            width: 100%;
            border: 0;
            outline: none;
            border-bottom: 2px solid #e7e9ee;
        }
    }

    div.timer-control {
        display: block;
        margin: 15px auto;
        width: 365px;
        height: 170px;
        padding: 0 15px;
        border-radius: 30px;
        background-color: rgb(84, 132, 235);
        box-shadow: 2px 2px 2px 2px rgb(98, 135, 214);

        .ctr-time-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

        .time-block {
            height: 100px;
            width: 98px;
            display: inline-block;

            .num {
                display: block;
                top: 0;
                font-size: 85px;
                line-height: 85px;
                height: 85px;
                font-weight: 600;
            }

            .txt {
                font-size: 12px;
                display: block;
                font-weight: 700;
                text-align: center;
                padding-top: 4px;
            }
        }

        .seperator {
            display: inline-block;
            top: 0;
            vertical-align: top;
            font-size: 85px;
            line-height: 85px;
            height: 85px;
            font-weight: 300;
            margin-top: -8px;
        }

        .controls {
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
            display: flex;
            justify-content: center;

            .fa {
                display: inline-block;
                font-size: 35px;
                cursor: pointer;
                margin: auto 20px;
                text-align: center;

                &.fa-play {
                    color: green;

                }

                &.fa-pause {
                    color: orange;
                }

                &.fa-stop {
                    color: red;
                }

                &.fa-undo {
                    color: red;
                }
            }
        }
    }
}

.foot-notes {
    padding: 25px;
    display: block;
    font-size: 16px;
}