/*
.userbox {
    display: inline-block;
    margin: 3px 17px 0 0;
    position: relative;
    vertical-align: middle;

    >a {
        display: inline-block;
        text-decoration: none;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .profile-info {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin: -3px 25px 0 10px;
    }

    .profile-picture {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        img {
            width: 35px;
            color: transparent;
        }
    }

    .name {
        display: block;
        color: #001;
        font-size: 12.8px;
        font-size: .8rem;
        line-height: 17.6px;
        line-height: 1.1rem;
    }

    .role {
        display: block;
        color: #acacac;
        font-size: 11.2px;
        font-size: .7rem;
        line-height: 11.2px;
        line-height: .7rem;
    }

    .custom-caret {
        color: #001;
        font-size: 16px;
        font-weight: 700;

        &:before {
            content: "\f107";
        }
    }

    >a.show {
        position: relative;
        z-index: 993;

        .custom-caret {
            &:before {
                content: "\f106";
            }
        }
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
        box-sizing: content-box;
        left: -11px !important;
        padding: 45px 10px 0;
        top: -10px !important;
        transform: none !important;
        width: 100%;
        min-width: 0;
        z-index: 992;

        li {
            margin-bottom: 5px;
        }

        a {
            border-radius: 2px;
            color: #7d7d7d;
            display: block;
            line-height: 20.8px;
            line-height: 1.3rem;
            padding: 4px 10px;
            font-size: 12px;
            font-size: .75rem;

            i {
                font-size: 17.6px;
                font-size: 1.1rem;
            }

            &:hover {
                background: #ccc;
                color: #fff;
            }
        }

        i {
            margin-right: 3px;
            vertical-align: middle;
        }
    }
}

html.dark,
html.header-dark {
    .userbox {
        &:after {
            background: #121518;
        }

        .name {
            color: #c3c3c3;
        }

        .custom-caret {
            color: #c3c3c3;
        }

        .dropdown-menu {
            background: #282d36;

            .name {
                color: #c3c3c3;
            }

            .custom-caret {
                color: #c3c3c3;
            }

            a {
                color: #c3c3c3;
                color: #c3c3c3;

                &:hover {
                    color: #fff;
                }
            }

            .divider {
                background: #1d2127;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .userbox {
        .name {
            max-width: 68px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .role {
            max-width: 68px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        float: left;
        margin: 16px 0 0 12px;
        position: relative;

        &:after {
            background: #e9e9e6;
            content: '';
            height: 63px;
            margin: 0;
            position: absolute;
            right: -21px;
            top: -18px;
            width: 1px;
        }

        .profile-picture {
            display: none;
        }

        .dropdown-menu {
            left: -5px !important;
            padding: 43px 0 0;
        }
    }
}
*/