.body {
    min-height: 100vh;
    width: 100%;
}

.inner-wrapper {
    display: table;
    min-height: 100vh;
    padding-top: 60px;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
}

/* Custom styles */
body.quick-view {
    div#root {
        height: 550px;
        overflow: hidden;

        .app {
            height: 550px;
            min-height: 550px;
            width: 800px;
            overflow: hidden;
        }
    }

    .main {
        .container-fluid {
            overflow-y: hidden;
        }
    }

    .quick-view-hide {
        display: none;
    }
}

body:not(.quick-view) .quick-view-show {
    display: none;
}