$font-color: #344563;

a.navbar-brand {
    span.navbar-brand-full {
        color: $font-color;
        font-size: 20px;
    }
}

.app-header {
    color: $font-color !important;

    .nav-item {
        min-width: 35px;
    }

    &.navbar {
        height: 52px !important;

        .navbar-brand {
            height: 51px;
        }

        .navbar-nav .nav-link,
        .navbar-toggler-icon {
            color: $font-color !important;
        }
    }

    i.fa {
        font-size: 16px;
    }

    .navbar-brand {
        width: 215px;

        .navbar-brand-full {
            color: $font-color !important;
        }
    }
}

.header-fixed .app-header {
    z-index: 500;
}

body.no-donation .btn-donate {
    display: none !important;
}

.video-help {
    .p-dialog-content {
        height: 95vh !important;
        max-height: 95vh !important;
        overflow: hidden !important;
    }
}

.badge.v-info {
    font-size: 10px;
}

.release-history {
    .release {
        &:not(:first-child) {
            border-top: 1px solid gray;
            padding-top: 5px;
        }

        .badge {
            margin-left: 8px;
        }

        .version-no {
            font-weight: bold;
            font-size: 20px;
        }

        .changelog-header {
            display: block;
            font-weight: bold;
            margin-top: 4px;
            text-indent: 8px;
        }
    }
}