.jira-notifications {
    max-width: 450px;

    .noti-messages {
        overflow-y: auto;
        padding-bottom: 10px;
        max-height: 435px;

        .drop-item {
            cursor: pointer;
            min-width: 350px;
            width: 100%;
            max-width: 100%;
            padding: 8px 16px;
            display: block;

            .message-text {
                white-space: pre-wrap !important;
                max-height: 50px;
                overflow: hidden;

                .user-display,
                .date-display {
                    font-weight: bold;
                }
            }
        }
    }
}