$sidebar-width: 215px;
$collapsed-width: 20px;
$transition-duration :700ms;
$transition-delay :400ms;

.sidebar-container {
    grid-area: SideBar;
    position: relative;
    width: $collapsed-width;
    z-index: 500;

    &.open {
        width: $sidebar-width;
        transition-duration: $transition-duration;
    }

    &.open,
    &.hover {
        .sidebar-placeholder {
            width: $sidebar-width;
            transition-duration: $transition-duration;
        }

        .sidebar-toggler {
            left: $sidebar-width;
            transition-duration: $transition-duration;
        }

        nav {
            width: $sidebar-width;
            transition-duration: $transition-duration;

            .sidebar-content {
                transition-duration: $transition-duration;
            }

            .build-info {
                .build-date {
                    opacity: 1;
                }
            }
        }
    }

    &.hover:not(.open) {
        transition-delay: $transition-delay;

        .sidebar-placeholder {
            transition-delay: $transition-delay;
        }

        .sidebar-toggler {
            transition-delay: $transition-delay;
        }

        nav {
            transition-delay: $transition-delay;

            .sidebar-content {
                transition-delay: $transition-delay;
            }
        }
    }

    .sidebar-toggler {
        position: absolute;
        z-index: 2;
        top: 40px;
        transform: translateX(-50%);
        opacity: 1;
        left: $collapsed-width;

        button {
            appearance: none;
            color: rgb(107, 119, 140);
            background-color: rgb(255, 255, 255);
            height: 24px;
            border: none;
            width: 24px;
            top: -18px;
            position: absolute;
            right: 0px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 50%;
            transform: translateX(50%);
            display: grid;
            place-items: center;
            transition: all 500ms linear, color 100ms linear,
                opacity 350ms cubic-bezier(0.2, 0, 0, 1);
            box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
                rgb(9 30 66 / 8%) 0px 2px 4px 1px;

            &:hover {
                background-color: #4c9aff;
                color: white;
                box-shadow: none;
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &.open .sidebar-toggler {
        opacity: 0;
    }

    &:hover .sidebar-toggler {
        opacity: 1;
    }


    &.hover .sidebar-content,
    &.open .sidebar-content {
        opacity: 1;
    }

    nav {
        z-index: 1;
        overflow: hidden;
        background-color: #fafbfc;
        box-shadow: inset -10px 0 25px -25px #888;
        box-sizing: border-box;
        height: 100%;
        width: $collapsed-width;
        border-right: 1px solid #d3d4d8;
        box-shadow: 0 3px 10px #d3d4d8;

        .build-info {
            padding: 12px;

            .build-date {
                font-size: 10px;
                opacity: 0;

                &:hover {
                    font-size: 13px;
                }
            }
        }
    }

    nav,
    .sidebar-placeholder,
    .sidebar-toggler,
    .sidebar-content {
        transition: cubic-bezier(0.22, 1, 0.36, 1);
    }
}

.nav-header {
    padding: 10px 5px;
}

.sidebar-content {
    overflow: auto;
    box-sizing: border-box;
    width: $sidebar-width;
    height: calc(100vh - 156px);
    opacity: 0;
    padding: 0 5px;
}

.nav-section {
    margin-top: 10px;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;

    .section {
        .toggle-icon {
            cursor: pointer;
            opacity: 0;
        }

        &:hover {
            .toggle-icon {
                opacity: 1;
            }
        }

    }

    &.collapsed {
        .section {
            .toggle-icon {
                opacity: 1;
            }
        }
    }

    .section-name {
        text-transform: uppercase;
        color: #42526e;
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 6px;
        display: inline-block;
    }

    .menu {
        display: block;

        a {
            cursor: pointer;
            color: #42526e;
            padding: 8px 10px 5px 17px;
            display: block;

            &:focus {
                box-shadow: #0052CC 0 0 0 2px inset;
            }

            .wrapper {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                .icon {
                    width: 24px;
                    height: 24px;
                }

                .menu-text {
                    margin-left: 4px;
                }

                .badge {
                    float: right;
                }
            }

        }

        &:hover,
        &.selected {
            a {
                background-color: #E6EFFC;
                border-radius: 4px;
            }
        }

        &.selected {
            a {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    height: 16px;
                    width: 4px;
                    left: 0px;
                    top: 12px;
                    background: #0052CC;
                    border-radius: 0px 1.998px 1.998px 0px;
                }
            }
        }
    }
}

body.skin-dark {
    .sidebar-container {
        .sidebar-toggler {
            button {
                background-color: #1e2225;
                color: #fff;
            }
        }

        nav {
            background-color: #2f353a;
            border-right: 1px solid #2f353a;

            .menu:hover,
            .menu.selected {
                a {
                    background-color: #1e2225;
                }
            }

            .menu a,
            .section-name {
                color: #fff;
            }
        }
    }
}