div.scroll-table-container .scroll-table {
    tbody {
        td.day-wl-block {
            padding: 0 2px 0 2px;
            text-align: center;
            position: relative;

            &.col-holiday {
                .log-indicator {
                    display: none;
                }
            }
        }
    }

    thead tr {

        th.week-head,
        th.day-head {
            min-width: 35px;
            text-align: center;
        }

        th.week-head {
            color: #2e6c99;
        }

        th.day-head {
            color: #498b4b;

            .day-name {
                font-size: 13px;
                color: rgb(118, 118, 207);
            }

            &.holiday {
                color: red;

                .day-name {
                    color: red;
                }
            }
        }
    }
}

td {
    div.wl-ticket-detail {
        width: 360px;
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}