.dashboard-name-edit {
    input {
        height: 27px;
    }
}

.dashboard-name {
    font-weight: 700;
    float: left;
    cursor: pointer;
    color: #29363d;
    padding-top: 4px;

    .board-icon {
        font-weight: 700;
        font-size: 19px;
        color: #367fa9;
    }

    .fa {
        margin: auto 5px;
    }
}

.dashboard-icons {
    width: 290px;

    &>div.d-icon {
        float: left;
        padding: 3px;
        width: 32px;
        height: 32px;
        cursor: pointer;

        span.fa {
            font-size: 23px;
        }
    }
}