.page-header {
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    margin: 0 0 1px;
    border-bottom: 1px solid #a4b7c1;

    .pull-right {
        padding-right: 4px;
    }
}

div.no-widget-div, div.placeholder-msg {
    font-size: 30px;
    text-align: center;
    border: 2px dashed grey;
    background-color: #f5f5f5;
    padding: 50px 15px;
    width: calc(100% - 18px);
}

div.no-widget-div {
    width: 100%;
    min-height: 50vh;
    padding: 115px 15px;
}