.board-list {
    padding: 0 8px 15px 20px;
    overflow-x: auto;

    .board-col {
        padding-top: 15px;

        .sprint-range {
            width: 180px;
        }

        .sprint-custom-cntr {
            padding: 0;

            .sprints-custom {
                margin-top: -3px;
                padding: 0 5px 0 0;
                height: 146px;
                max-width: 250px;

                div {
                    max-width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}

.op-sprint-list {
    max-width: 450px;

    .p-overlaypanel-content {
        padding: 0;
    }
}

.no-boards-message {
    font-size: 16px;

    .fa.warn {
        color: red;
    }
}