$header-cell-bg-color: #f4f5f8;
$header-font-color: #5d5c5c;

$selected-cell-bg-color: #deedf8;
$selected-cell-border-color: #2587d1; //#4b89ff;

$cell-bg-color: #fff;
$cell-font-color: #0a0a0a;

$border-color: #e6e6e6;

$default-font-size: 13px;
$default-row-height: 30px;
$default-cell-width: 140px;

@mixin string-editor {
    outline: none;
    box-shadow: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

div.src-editable-grid-container {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;

    table.src-editable-grid {
        outline: none;
        border: 1px solid $border-color;
        border-top: 0px;
        font-size: $default-font-size;
        user-select: none;

        td,
        th {
            padding: 4px;
            border: 1px solid $border-color;
            cursor: cell;
            overflow: hidden;
            white-space: nowrap;
            max-width: 800px;

            input,
            input:focus {
                @include string-editor;
            }
        }

        tbody tr td,
        thead tr th,
        tfoot tr td {
            &.selected {
                background-color: $selected-cell-bg-color;

                &.sel-start {
                    background-color: $cell-bg-color;
                }

                div.cell-repeater {
                    position: relative;
                    float: right;
                    height: 6px;
                    width: 6px;
                    right: -8px;
                    cursor: crosshair;
                    background-color: $selected-cell-border-color;
                    bottom: -13px;

                    &.with-data {
                        bottom: -21px;
                    }
                }
            }

            &.sel-top {
                border-top-color: $selected-cell-border-color;
            }

            &.sel-right {
                border-right-color: $selected-cell-border-color;
            }

            &.sel-bottom {
                border-bottom-color: $selected-cell-border-color;
            }

            &.sel-left {
                border-left-color: $selected-cell-border-color;
            }

            &.copy-top {
                border-top: 1px dashed $selected-cell-border-color;
            }

            &.copy-right {
                border-right: 1px dashed$selected-cell-border-color;
            }

            &.copy-bottom {
                border-bottom: 1px dashed $selected-cell-border-color;
            }

            &.copy-left {
                border-left: 1px dashed $selected-cell-border-color;
            }
        }

        .src-status-cell {
            background-color: $header-cell-bg-color;
            color: $header-font-color;
            width: 32px;
            text-align: center;
            position: sticky;
            left: 0;
            z-index: 10;
        }

        thead {
            tr {
                th {
                    color: $header-font-color;
                    background-color: $header-cell-bg-color;
                    height: $default-row-height;
                    width: $default-cell-width;
                    min-width: 100px;
                    padding-right: 4px;
                    padding-left: 4px;
                    border-top-width: 2px;
                    position: sticky;
                    top: 0;
                    z-index: 10;

                    &.src-status-cell {
                        z-index: 11;
                        min-width: 28px;
                    }

                    div.h-resizer-r,
                    div.h-resizer-l {
                        width: 3px;
                        height: 100%;
                        cursor: col-resize;
                    }

                    div.h-resizer-r:hover,
                    div.h-resizer-l:hover {
                        background-color: $selected-cell-bg-color;

                    }

                    div.h-resizer-l {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    div.h-resizer-r {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    color: $cell-font-color;
                    background-color: $cell-bg-color;
                    height: $default-row-height;
                    max-height: $default-row-height;
                    overflow: hidden;
                }
            }
        }

        tfoot {
            tr {
                td {
                    color: $header-font-color;
                    height: $default-row-height;
                    width: $default-cell-width;
                }
            }
        }
    }

    input.string-editor,
    input.string-editor:focus {
        @include string-editor;
    }
}