div.daysinweek {
    > div.day {
      width: 35px;
      height: 35px;
      border-radius: 8px;
      display: inline-block;
      border: 1px solid #acbfcd;
      cursor: pointer;
      background-color: #ecf2f9;
      text-align: center;
      margin-left: 4px;
      padding-top: 5px;
      font-weight: bold;
    }
  
    > div.day:hover, > div.day.day-on {
      color: white !important;
    }
  }
  