.progress-row {
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    .task-progress {
        background-color: #008786;
        height: 33px;
        top: 2px;
        border-radius: 4px;
        position: absolute;
        cursor: move;

        div.v-resize-container {
            height: 100%;
            display: block;
            cursor: ew-resize;
            padding: 6px 0 0 1px;

            &.float-end {
                padding-right: 3px;
            }

            div.resize-holder {
                width: 5px;
                height: 20px;
                width: 1px;
                border: 2px dotted #fff;
                display: block;
                opacity: 0;
            }
        }

        &:hover div.v-resize-container div.resize-holder {
            opacity: 0.8;
        }
    }
}