.editor-controls .controls {
    .p-splitter-panel .fields-collection {

        .p-tabview,
        .p-tabview-panels,
        .p-tabview-panel {
            height: calc(100% - 20px);
            padding: 0;
        }
    }

    .fields-collection {
        height: 100%;

        .search-container {
            position: relative;

            span.fa {
                position: absolute;
                top: 7px;
                right: 15px;
            }

            input {
                width: 100%;
                border: none;
                height: 30px;
                border: 1px solid transparent;

                &.p-inputtext:enabled:focus {
                    box-shadow: none;
                }

                &.p-inputtext {

                    &:focus,
                    &:hover {
                        border-color: #ced4da;
                    }
                }
            }
        }

        .p-tabview,
        .p-tabview-panels,
        .p-tabview-panel {
            height: 100%;
            padding: 0;
        }

        .fields-list {
            height: 100%;
            overflow: auto;
            padding: 5px 5px;

            .jira-field {
                padding: 3px 10px;
                border-radius: 10px;
                cursor: move;

                &:hover {
                    background-color: #f8f9fa;
                }

                .fa {
                    color: #707b86;
                }
            }
        }
    }
}