div.scroll-table-container {
    width: 100%;
    height: 100%;
    overflow: auto;

    &.data-center>table.scroll-table {
        text-align: center;

        td {
            text-align: center;
        }
    }

    table.scroll-table {
        tr {
            &.data-left td {
                text-align: left;
            }

            &.data-center td {
                text-align: center;
            }

            &.data-right td {
                text-align: right;
            }

            &.strong td {
                font-weight: bold;
            }

            td {
                &.data-left {
                    text-align: left;
                }

                &.data-center {
                    text-align: center;
                }

                &.data-right {
                    text-align: right;
                }

                &.strong {
                    font-weight: bold;
                }
            }
        }
    }

    caption {
        caption-side: top;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        padding: 5px;
        background-color: #ebedf0;
        margin-top: 0;
    }

    .scroll-table {
        min-width: 100%;
        position: relative;

        thead {
            tr {
                background-color: #fff;

                &:last-child {
                    border-bottom: 2px solid #dfe1e6;
                }

                th {
                    padding: 4px 16px;
                    min-width: 70px;
                    font-weight: 400;
                    color: #555;
                    font-size: 1em;
                    text-align: left;
                    white-space: nowrap;
                    position: sticky;
                    top: 0;
                    z-index: 490;
                    font-weight: 600;
                    background-color: #fff;

                    &.sortable {
                        cursor: pointer;

                        i.fa {
                            margin-left: 4px;
                        }
                    }

                    &.w40 {
                        width: 40px;
                        min-width: 40px;
                    }
                }
            }
        }

        tbody {
            tr:not(.auto-wrap) {
                td {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            tr {
                border-bottom: 2px solid #f3f4f7;

                &:nth-child(even) {
                    background-color: #fafafb;
                }

                td {
                    padding: 5px 8px 5px 10px;

                    i.fa-ellipsis-v {
                        cursor: pointer;
                    }

                    img {
                        margin-right: 4px;
                    }
                }
            }
        }

        tfoot {
            tr {
                th {
                    padding: 4px 16px;
                    font-weight: 400;
                    color: #555;
                    font-size: 1em;
                    text-align: left;
                    font-weight: 600;
                    background-color: #fff;
                }

                td {
                    padding: 5px 8px;
                }

                &:first-child {
                    td {
                        border-top: 2px solid #c8ced3;
                    }
                }
            }
        }

        &.table-bordered {

            thead,
            tbody {
                tr {

                    th,
                    td {
                        border-color: #dfe1e6;
                    }
                }
            }
        }
    }
}

tr.pad-min {

    th,
    td {
        padding: 4px 5px !important;
    }
}

tr.auto-wrap {

    th,
    td {
        white-space: initial !important;
    }
}

tbody:not(.no-log-bg-hl) {

    td.log-good,
    tr.log-good {
        background-color: #90ee90 !important;
    }

    td.log-less,
    tr.log-less {
        background-color: #fafad2 !important;
    }

    td.log-high,
    tr.log-high {
        background-color: #ffa07a !important;
    }
}

tbody.no-log-bg-hl {

    td.log-good,
    tr.log-good,
    td.log-less,
    tr.log-less,
    td.log-high,
    tr.log-high,
    td.col-holiday,
    tr.col-holiday {
        background-color: transparent !important;
    }
}

td.col-holiday,
tr.col-holiday {
    background-image: linear-gradient(to top right, transparent calc(50% - 1px), #e4e5e6, transparent calc(50% + 1px)),
        linear-gradient(to bottom right, transparent calc(50% - 1px), #e4e5e6, transparent calc(50% + 1px));
}

tr.closed .strike,
.strike-out {
    text-decoration: line-through;
}