/* Input text */
input.p-inputtext,
textarea.p-inputtext {
    padding: 0.25rem 0.5rem;
}

/* Autocomplete */
.p-autocomplete {
    input.p-inputtext {
        width: 100%;
    }

    .p-autocomplete-multiple-container {
        .p-autocomplete-input-token {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }

    button.p-autocomplete-dropdown {
        margin-left: 0;
    }
}

/* Datepicker */
/* If Prime calendar is used, then uncomment this css.
Commented on 25-Jan-2023
.p-calendar {
    min-width: 180px;

    input.p-inputtext {
        width: 100%;
        padding: 3px 6px;
    }

    button.p-datepicker-trigger {
        height: 29px;
        margin-top: 0px;
        margin-left: 0px;
    }
}*/

/* Time picker */
.rc-time-picker {
    width: 110px;
}

/* Chips */

.p-chips {
    width: 100%;

    .p-inputtext {
        width: 100%;
    }
}

/* Radio button */
span.ja-radio {
    margin-right: 8px;

    label {
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 0;
    }
}

/* Checkbox */
.chk-label {
    padding: 7px 0 0 5px;
    margin-bottom: 0;
}

.p-colorpicker-panel {
    z-index: 2200 !important;
}

.p-checkbox,
.p-radiobutton {
    vertical-align: middle;
}