/* Autocomplete */
.p-autocomplete {
    input.p-inputtext {
        width: 100%;
    }

    .p-autocomplete-multiple-container {
        .p-autocomplete-input-token {
            width: 100%;

            input {
                width: 100%;
            }
        }
    }

    button.p-autocomplete-dropdown {
        margin-left: 0;
    }
}

/* Datepicker */

.p-calendar {
    min-width: 180px;

    input.p-inputtext {
        width: 100%;
        padding: 3px 6px;
    }

    button.p-datepicker-trigger {
        height: 29px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

.react-bootstrap-daterangepicker-container {
    input.date-range-ctl {
        width: 250px;
        height: 27px;
        border-right: 0px;
    }

    .icon {
        margin-left: -2px;
        height: 27px;
    }
}

/* Chips */

.p-chips {
    width: 100%;

    .p-inputtext {
        width: 100%;
    }
}

/* Radio button */
span.ja-radio{
    margin-right: 8px;

    label {
        margin-left: 5px;
        margin-top: 6px;
    }
}

/* Checkbox */
.chk-label {
    padding: 7px 0 0 5px;
}