.wl-timer-gadget {
    min-height: 300px;

    .load-more {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
        border-radius: 10px;
        padding: 2px;
        background-color: rgb(206, 234, 250);
        cursor: pointer;

        .fa {
            font-size: 16px;
            margin-right: 5px;
        }

        &:hover {
            background-color: rgb(199, 230, 248);
        }
    }

    .tickets-List {
        max-height: 400px;
        padding: 0 12px 0 0;
        overflow-y: auto;

        &>.item {
            height: 55px;
            background: rgb(202, 200, 246);
            background: linear-gradient(173deg, rgba(202, 200, 246, 1) 0%, rgba(176, 172, 244, 1) 39%, rgba(150, 146, 224, 1) 76%);
            border-radius: 15px;
            padding: 5px 5px 5px 13px;
            margin: 8px auto;
            display: flex;

            .block-1 {
                display: block;
                min-width: 100px;
                height: 100%;

                .icon {
                    display: block;

                    img {
                        height: 24px;
                        width: 24px;
                    }
                }

                .key {
                    display: block;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .controls {
                height: 100%;
                display: block;
                padding: 3px 10px;
                overflow: hidden;

                .fa {
                    font-size: 18px;
                    display: block;
                    margin-bottom: 5px;
                    cursor: pointer;

                    &.fa-play {
                        color: green;
                    }

                    &.fa-pause {
                        color: orange;
                    }

                    &.fa-stop {
                        color: red;
                    }
                }
            }

            .desc {
                height: 100%;
                display: block;
                padding: 2px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.timer-control-container {
    padding: 0 15px;

    div.ticket {
        padding: 3px 5px;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        .key {
            font-weight: 600;
            margin-right: 5px;
        }

        .summary {
            margin-left: 5px;
        }
    }

    div.wl-comments {
        padding: 3px 5px;

        .text {
            display: block;
            font-size: 20px;
            cursor: pointer;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .no-comment {
            font-style: italic;
            cursor: pointer;
        }

        input {
            font-size: 20px;
            width: 100%;
            border: 0;
            outline: none;
            border-bottom: 2px solid #e7e9ee;
        }
    }

    div.timer-control {
        display: block;
        margin: 15px auto;
        width: 365px;
        height: 170px;
        padding: 0 15px;
        border-radius: 30px;
        background-color: rgb(84, 132, 235);
        box-shadow: 2px 2px 2px 2px rgb(98, 135, 214);

        .ctr-time-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

        .time-block {
            height: 100px;
            width: 98px;
            display: inline-block;

            .num {
                display: block;
                top: 0;
                font-size: 85px;
                line-height: 85px;
                height: 85px;
                font-weight: 600;
            }

            .txt {
                font-size: 12px;
                display: block;
                font-weight: 700;
                text-align: center;
                padding-top: 4px;
            }
        }

        .seperator {
            display: inline-block;
            top: 0;
            vertical-align: top;
            font-size: 85px;
            line-height: 85px;
            height: 85px;
            font-weight: 300;
            margin-top: -8px;
        }

        .controls {
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
            display: flex;
            justify-content: center;

            .fa {
                display: inline-block;
                font-size: 35px;
                cursor: pointer;
                margin: auto 20px;
                text-align: center;

                &.fa-play {
                    color: green;

                }

                &.fa-pause {
                    color: orange;
                }

                &.fa-stop {
                    color: red;
                }

                &.fa-undo {
                    color: red;
                }
            }
        }
    }
}