.worklog-visualization-tab {
    overflow-y: auto;
    overflow-x: hidden;

    .group-wise-charts {
        padding: 10px;

        h3 {
            font-size: 18px;
            font-weight: bolder;
            padding-top: 0px;
            padding-bottom: 30px;
            text-align: center;
        }

        &:not(:first-child) {
            h3 {
                padding-top: 20px;
            }
        }

        .chart-container {
            width: 100%;

            .p-chart {
                position: relative;
                width: calc(100% - 5px);
                height: 100%;
            }
        }
    }
}

.gadget.full-height {
    .worklog-visualization-tab {
        height: calc(100vh - 163px);

        .group-wise-charts {
            .chart-container {
                height: 350px;
            }
        }
    }

    .multi-view {
        .worklog-visualization-tab {
            height: calc(100vh - 197px);
        }
    }

    &.docked {
        .worklog-visualization-tab {
            height: calc(100vh - 122px);

            .group-wise-charts {
                .chart-container {
                    height: 350px;
                }
            }
        }

        .multi-view {
            .worklog-visualization-tab {
                height: calc(100vh - 156px);
            }
        }
    }
}

.gadget.half-height {
    .worklog-visualization-tab {
        height: calc(50vh - 122px);

        .group-wise-charts {
            .chart-container {
                height: 250px;
            }
        }
    }

    .multi-view {
        .worklog-visualization-tab {
            height: calc(50vh - 156px);
        }
    }
}