.error-card.global {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
}

.error-card {
    width: 410px;
    min-height: 330px;
    margin: 60px auto;
}

.error-card.global .error-title {
    color: #ffffff;
}

.error-card .error-title {
    font-size: 150px;
    line-height: 150px;
    font-weight: 700;
    color: #252932;
    text-align: center;
    text-shadow: rgba(61, 61, 61, 0.3) 0.5px 0.5px, rgba(61, 61, 61, 0.2) 1px 1px, rgba(61, 61, 61, 0.3) 1.5px 1.5px;
}

.error-card.global .error-sub-title,
.error-card.global .error-container {
    color: #ffffff;
}

.error-card .error-sub-title {
    font-weight: 100;
    text-align: center;
}

h2 {
    font-size: 2rem;
}
