// #region Core UI Overrides

.app-header {
    color: #fff !important;

    .fa-bars {
        color: #fff !important;
    }

    .nav-item {
        min-width: 35px;
    }

    &.navbar {
        height: 44px !important;

        .navbar-nav .nav-link,
        .navbar-toggler-icon {
            color: #fff !important;
        }
    }

    i.fa {
        font-size: 16px;
    }

    .navbar-brand {
        width: 200px;

        .navbar-brand-full {
            color: #fff !important;
        }
    }
}

.form-control {
    padding: 0;
}

.pnl-footer {
    height: 50px;
    background-color: #f6f7f9;
    padding: 10px;
}

// #endregion

/* #region Custom styles */


/* #region Margin related styles */

.no-margin {
    margin: 0 !important;
}

.margin-r-5 {
    margin-right: 5px !important;
}

.margin-r-8 {
    margin-right: 8px;
}

.margin-l-5 {
    margin-left: 5px !important;
}

/* #endregion */


/* #region Width related styles */

.w-p-100 {
    width: 100%;
}

.w-80 {
    width: 80px;
}

/* #endregion */

/* #region Padding related styles */
.no-b-pad {
    padding-bottom: 0 !important;
}

.no-t-pad {
    padding-top: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.pad-b {
    padding-bottom: 8px;
}

.pad-h-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.pad-8 {
    padding: 8px;
}

.pad-15 {
    padding: 15px;
}

.pad-22 {
    padding: 22px !important;
}

.pad-32 {
    padding: 32px;
}

.pad-l-5 {
    padding-left: 5px;
}

/* #endregion */
.hide {
    display: none;
}

.link {
    cursor: pointer;
}

.no-min-width {
    min-width: auto !important;
}

.pointer {
    cursor: pointer;
}

.movable {
    cursor: move;
}

.inline {
    display: inline-block;
}

.img-x16 {
    height: 16px;
    width: 16px;
}

.img-x32 {
    height: 32px;
    width: 32px;
}

.fs-16 {
    font-size: 16px;
}

/* #endregion*/

/* #region Form styles */

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.msg-error {
    color: red;
}

.msg-warning {
    color: #ffc107;
}

/* #endregion */

/* #region Badge styles*/

.info-badge {
    position: relative;
    cursor: pointer;

    .info {
        position: absolute;
        top: -10px;
        right: -3px;
        font-size: 11px;
        font-weight: 400;
        z-index: 99;
        padding: 0 4px;
        border-radius: 3px;
        color: #fff;
    }
}

/* #endregion */

.tags {
    padding: 0;
    margin-bottom: 0;

    .badge {
        font-size: 100%;
        font-weight: 400;
        margin: 2px 2px;
    }

    li {
        list-style: none;
        cursor: pointer;
        display: inline;
    }
}

a {
    text-decoration: none;
}