/* #region  Prime overrides*/

.p-dialog {
    .p-dialog-content {
        max-height: calc(100vh - 150px);
        overflow: auto;
    }

    &.no-padding {
        .p-dialog-content {
            padding: 0;

            .p-tabview-panels {
                padding: 0 !important;
            }
        }
    }
}

.p-autocomplete-dd {
    .p-autocomplete-multiple-container {
        width: calc(100% - 30px);
    }
}

.p-autocomplete-multiple-container {
    width: 100%;
}

.p-autocomplete-panel,.p-datepicker,.p-dropdown-panel{
    z-index: 3000 !important;
}

.p-autocomplete-panel{
    max-width: 350px;
}

.p-dropdown {
    width: 100%;
    height: 30px;

    .p-dropdown-trigger {
        border-left: 1px solid #d6d6d6;
    }

    .p-dropdown-label {
        height: 28px;
        padding-top: 3px;
        padding-bottom: 4px;
    }
}

.p-dropdown-panel {
    .p-dropdown-filter-container {
        width: 100%;

        input.p-dropdown-filter {
            height: 25px;
            width: 100%;
        }
    }
}

/* Menu related styles */
a.p-menuitem-link {
    text-decoration: none;
}

.p-menu {
    z-index: 1060 !important;
}

// TabView related styles
.p-tabview {
    padding-bottom: 0;

    &.no-padding{
        .p-tabview-panels{
            padding:0;
        }
    }

    .p-tabview-nav {
        a[role="tab"] {
            padding: 2px 14px !important;
        }
    }

    .p-tabview-selected {
        a {
            height: 32px;
        }
    }
}

/* #endregion*/
