@mixin base-style($header-logo-bg,$header-bg) {
  .app-header.navbar .navbar-brand {
    background-color: $header-logo-bg !important;
  }

  .app-header.navbar, .sidebar .nav-link:hover {
    background-color: $header-bg !important;
  }

  .sidebar .nav-link.active i {
    color: $header-logo-bg !important;
  }

  .ui-panel.ui-widget .ui-panel-titlebar {
    border-top: 3px solid $header-bg;
    background: white;
  }

  .sidebar .nav-link.active, .sidebar-minimized .sidebar .nav-link {
    border-left: 3px solid $header-bg !important;
  }

  .link, .table i.fa-ellipsis-v {
    color: $header-bg !important;
  }

  ul.right-menus li:hover {
    background-color: $header-logo-bg;
  }

  .dashboard-icons div.d-icon {
    color: $header-logo-bg;

    &:hover {
      color: $header-bg;
    }
  }

  .page-header .board-icon {
    color: $header-logo-bg;
  }

  .badge-info, .event-details .header {
    background-color: $header-bg;
  }

  .skin-bg-font {
    background-color: $header-bg;
    color: #fff !important;
  }
  /*.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    background-color: $header-bg;
    border: 1px solid $header-logo-bg;
  }*/
  div.daysinweek {
    > div.day:hover {
      background-color: $header-bg !important;
    }

    > div.day.day-on {
      background-color: $header-logo-bg;
    }
  }

  .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color: $header-bg + bd !important;

    .link {
      color: #fff !important;
      text-decoration: underline;
    }
  }
}

.skin-blue {
  $header-logo-bg: #367fa9;
  $header-bg: #3c8dbc;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-meadow {
  $header-logo-bg: #1caf9a;
  $header-bg: #8cc1a2;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-purple {
  $header-logo-bg: #555299;
  $header-bg: #605ca8;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-green {
  $header-logo-bg: #008d4c;
  $header-bg: #00a65a;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-red {
  $header-logo-bg: #d73925;
  $header-bg: #dd4b39;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-yellow {
  $header-logo-bg: #e08e0b;
  $header-bg: #f39c12;

  @include base-style($header-logo-bg,$header-bg);
}

.skin-violet {
  $header-logo-bg: #7a4889; //#724381
  $header-bg: #9055A2; //#9055A2
  @include base-style($header-logo-bg,$header-bg);
}

.skin-pink {
  $header-logo-bg: #ec2f6c; //#eb2364
  $header-bg: #ef5285; //#ef5285
  @include base-style($header-logo-bg,$header-bg);
}

.skin-sea {
  $header-logo-bg: #2d7776; //#296e6d
  $header-bg: #379392;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-green2 {
  $header-logo-bg: #2b954b; //#288b46
  $header-bg: #33b35a;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-green3 {
  $header-logo-bg: #40561a;
  $header-bg: #729a2e;
  @include base-style($header-logo-bg,$header-bg);
}


.skin-blue2 {
  $header-logo-bg: #557a95;
  $header-bg: #7395ae;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-blue3 {
  $header-logo-bg: #240090;
  $header-bg: #3500d3;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-navy {
  $header-logo-bg: #0c0032;
  $header-bg: #190061;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust1 {
  $header-logo-bg: #44318d;
  $header-bg: #e98074;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust2 {
  $header-logo-bg: #5d5c61;
  $header-bg: #379683;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust3 {
  $header-logo-bg: #ffe400;
  $header-bg: #747474;
  @include base-style($header-logo-bg,$header-bg);
}

/*.skin-cust4 {
  $header-logo-bg: #c2b9b0;
  $header-bg: #c2cad0;
  @include base-style($header-logo-bg,$header-bg);
}*/

.skin-cust5 {
  $header-logo-bg: #7e685a;
  $header-bg: #afd275;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust6 {
  $header-logo-bg: #2e1114;
  $header-bg: #501b1d;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust7 {
  $header-logo-bg: #2e151b;
  $header-bg: #da7b93;
  @include base-style($header-logo-bg,$header-bg);
}

.skin-cust8 {
  $header-logo-bg: #64485c;
  $header-bg: #83677b;
  @include base-style($header-logo-bg,$header-bg);
}

.skins {
  z-index: 1500 !important;

  .skin-items {
    width: 200px;
    margin-bottom: 10px;

    div {
      display: inline-block;
      border-radius: 25px;
      border: 6px solid;
      height: 33px;
      width: 33px;
      font-weight: bold;
      text-align: center;
      margin: 2px;
      color: #fff;
      cursor: pointer;
    }
  }

  label {
    margin-bottom: 0;
  }
}
