@mixin base-style($header-logo-bg, $header-bg) {

  /*
  .app-header.navbar .navbar-brand {
    background-color: $header-logo-bg !important;
  }

  .app-header.navbar,
  .sidebar .nav-link:hover {
    background-color: $header-bg !important;
  }

  .sidebar .nav-link.active i {
    color: $header-logo-bg !important;
  }
*/
  .ui-panel.ui-widget .ui-panel-titlebar {
    border-top: 3px solid $header-bg;
    background: #fff;
  }

  .sidebar .nav-link.active,
  .sidebar-minimized .sidebar .nav-link {
    border-left: 3px solid $header-bg !important;
  }

  .link,
  .table i.fa-ellipsis-v {
    color: $header-bg !important;
  }

  ul.right-menus li:hover {
    background-color: $header-logo-bg;
  }

  /*
  div.gadget .p-panel-header {
    border-top-color: $header-bg;
  }*/

  .dashboard-icons div.d-icon {
    color: $header-logo-bg;

    &:hover {
      color: $header-bg;
    }
  }

  .page-header .board-icon {
    color: $header-logo-bg;
  }

  .badge-info,
  .event-details .header {
    background-color: $header-bg;
  }

  .skin-bg-font {
    background-color: $header-bg;
    color: #fff !important;
  }

  /*.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    background-color: $header-bg;
    border: 1px solid $header-logo-bg;
  }*/
  div.days-in-week {
    >div.day:hover {
      background-color: $header-bg !important;
    }

    >div.day.day-on {
      background-color: $header-logo-bg;
    }
  }

  .ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
    background-color: $header-bg + bd !important;

    .link {
      color: #fff !important;
      text-decoration: underline;
    }
  }
}

@mixin deep-style($background-color, $background-secondary, $primary-color, $font-color) {
  background-color: $background-color;
  color: $font-color;

  .app-header.navbar .navbar-brand {
    background-color: $background-color !important;
  }

  .app-header.navbar,
  .sidebar .nav-link:hover {
    background-color: $background-secondary !important;
    color: $font-color;
  }

  .app-header a.navbar-brand span.navbar-brand-full,
  .app-header.navbar .navbar-nav .nav-link,
  .btn-icon-only {
    color: $font-color !important;
  }

  .sidebar .nav-link.active i {
    color: $primary-color !important;
  }

  .ui-panel.ui-widget .ui-panel-titlebar {
    border-top: 3px solid $primary-color;
    background: white;
  }

  .sidebar .nav-link.active,
  .sidebar-minimized .sidebar .nav-link {
    border-left: 3px solid $primary-color !important;
  }

  .sidebar {
    * {
      color: $font-color;
    }

    div[data-navheader="true"],
    nav>div:last-child {
      background-color: #262a2e;
    }

    div[data-testid="nestable-navigation-content"],
    div[data-testid="nestable-navigation-content"] div:before,
    div[data-testid="nestable-navigation-content"] div:after,
    .btn-menu {
      background-color: $background-color;
    }

    .btn-menu.selected {
      background-color: #3a4248;
    }

    .btn-menu:hover {
      background-color: #262a2e;
    }
  }

  .link,
  .table i.fa-ellipsis-v {
    color: $primary-color !important;
  }

  ul.right-menus li:hover {
    background-color: $background-color;
  }

  .dashboard-icons div.d-icon {
    color: $font-color;

    &:hover {
      color: $primary-color;
    }
  }

  .page-header .board-icon {
    color: $font-color;
  }

  .badge-info,
  .event-details .header {
    background-color: $primary-color;
    color: $font-color;
  }

  .skin-bg-font {
    background-color: $primary-color;
    color: $font-color !important;
  }

  /*.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    background-color: $header-bg;
    border: 1px solid $header-logo-bg;
  }*/
  div.days-in-week {
    color: $background-color !important;

    &>div.day:hover,
    &>div.day.day-on:hover {
      background-color: $primary-color !important;
      color: $font-color !important;
    }

    &>div.day.day-on {
      background-color: $background-color;
      color: $primary-color !important;
    }
  }

  .ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
    background-color: $primary-color + bd !important;

    .link {
      color: #fff !important;
      text-decoration: underline;
    }
  }

  .page-header {
    background-color: $background-color;
    color: $font-color;

    .dashboard-name {
      color: $font-color
    }
  }

  .text-muted {
    color: $primary-color;
  }

  .dropdown-item,
  .p-menu .p-submenu-header,
  .p-menu .p-menuitem-link .p-menuitem-icon,
  .p-menubar .p-menuitem-link .p-menuitem-icon,
  .p-tieredmenu .p-menuitem-link .p-menuitem-icon,
  .p-contextmenu .p-menuitem-link .p-menuitem-icon,
  .p-contextmenu .p-menuitem-active .p-menuitem-link .p-menuitem-icon,
  .p-megamenu .p-menuitem-link .p-menuitem-icon,
  .p-slidemenu .p-menuitem-link .p-menuitem-icon,
  .p-menu .p-menuitem-link .p-menuitem-text,
  .p-menubar .p-menuitem-link .p-menuitem-text,
  .p-tieredmenu .p-menuitem-link .p-menuitem-text,
  .p-contextmenu .p-menuitem-link .p-menuitem-text,
  .p-contextmenu .p-menuitem-active .p-menuitem-link .p-menuitem-text,
  .p-megamenu .p-menuitem-link .p-menuitem-text,
  .p-slidemenu .p-menuitem-link .p-menuitem-text {
    color: $font-color
  }

  .p-menu .p-menuitem-link:hover .p-menuitem-icon,
  .p-menubar .p-menuitem-link:hover .p-menuitem-icon,
  .p-tieredmenu .p-menuitem-link:hover .p-menuitem-icon,
  .p-contextmenu .p-menuitem-link:hover .p-menuitem-icon,
  .p-megamenu .p-menuitem-link:hover .p-menuitem-icon,
  .p-slidemenu .p-menuitem-link:hover .p-menuitem-icon,
  .p-menu .p-menuitem-link:hover .p-menuitem-text,
  .p-menubar .p-menuitem-link:hover .p-menuitem-text,
  .p-tieredmenu .p-menuitem-link:hover .p-menuitem-text,
  .p-contextmenu .p-menuitem-link:hover .p-menuitem-text,
  .p-megamenu .p-menuitem-link:hover .p-menuitem-text,
  .p-slidemenu .p-menuitem-link:hover .p-menuitem-text {
    color: $font-color
  }


  .p-inputtext,
  .p-dropdown,
  .p-dropdown-panel,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item-group,
  .p-panel .p-panel-content,
  .p-tabview .p-tabview-panels,
  .p-tabview .p-tabview-nav li.p-highlight:hover a,
  .p-tabview .p-tabview-nav li.p-highlight a,
  div.gadget .p-panel-header,
  div.scroll-table-container caption,
  div.scroll-table-container .scroll-table tfoot,
  div.src-editable-grid-container caption,
  div.src-editable-grid-container .src-editable-grid tfoot,
  div.src-editable-grid-container .src-editable-grid tbody tr td,
  .rc-time-picker-panel-inner,
  .rc-time-picker-panel-input,
  .pnl-footer,
  .p-dialog .p-dialog-content,
  .p-dialog,
  .rc-time-picker-input,
  .p-autocomplete-panel,
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item,
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item,
  .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input,
  .dropdown-menu,
  .p-listbox,
  .p-listbox .p-listbox-list .p-listbox-item,
  .p-accordion .p-accordion-content,
  .p-dropdown-header,
  .p-menu {
    background-color: $background-color;
    color: $font-color;
  }

  .daterangepicker .calendar-table .next span,
  .daterangepicker .calendar-table .prev span {
    border-color: $font-color;
  }

  .daterangepicker,
  .daterangepicker .calendar-table,
  .daterangepicker td.off,
  .daterangepicker td.off.in-range,
  .daterangepicker td.off.start-date,
  .daterangepicker td.off.end-date,
  .p-contextmenu {
    background-color: $background-color;
  }

  .p-menu .p-submenu-header,
  .sel-issue:not(.disabled):not(.loading-data):hover {
    background-color: $background-secondary;
  }

  div.scroll-table-container .scroll-table thead tr,
  div.scroll-table-container .scroll-table thead tr th,
  div.src-editable-grid-container .src-editable-grid thead tr,
  div.src-editable-grid-container .src-editable-grid thead tr th,
  .no-widget-div,
  tr.grouped-row,
  .p-tabview .p-tabview-nav li a,
  .daterangepicker .ranges li:hover,
  .daterangepicker td.available:hover,
  .daterangepicker th.available:hover,
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-footer,
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item:hover,
  .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover,
  .dropdown-header,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .global-settings .footer,
  .p-accordion .p-accordion-header a,
  .p-menu .p-menuitem-link:hover,
  .p-menubar .p-menuitem-link:hover,
  .p-tieredmenu .p-menuitem-link:hover,
  .p-contextmenu .p-menuitem-link:hover,
  .p-contextmenu .p-menuitem-active .p-menuitem-link,
  .p-megamenu .p-menuitem-link:hover,
  .p-slidemenu .p-menuitem-link:hover,
  .p-inputgroup .p-inputgroup-addon,
  .p-dropdown .p-dropdown-trigger,
  .rc-time-picker-panel-select li:hover,
  li.rc-time-picker-panel-select-option-selected,
  .p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover,
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item-group:not(.p-highlight):not(.p-disabled):hover {
    background-color: #1e2225;
    color: $font-color;
  }

  .fc.fc-theme-standard .fc-view-harness th,
  .fc.fc-theme-standard .fc-view-harness tr,
  .fc.fc-theme-standard .fc-view-harness th,
  .fc.fc-theme-standard .fc-view-harness td,
  .fc.fc-theme-standard .fc-view-harness .fc-cell-shaded,
  .fc.fc-theme-standard .fc-view-harness .fc-view {
    background-color: #1e222500;
    color: $font-color;
  }

  div.scroll-table-container .scroll-table tbody tr:nth-child(even),
  div.scroll-table-container .scroll-table tr.grouped-row,
  div.scroll-table-container .scroll-table td.group-toggler-td,
  div.scroll-table-container .scroll-table td.group-name-td,
  div.scroll-table-container .scroll-table td.group-indent-td,
  div.groupable-grid .group-list-container div.group-list-item,
  div.src-editable-grid-container .src-editable-grid tbody tr:nth-child(even),
  .fc-widget-header,
  .fc .fc-divider {
    background: $background-secondary;
  }

  .p-dropdown,
  .p-dropdown-panel,
  .table-bordered th,
  .table-bordered td,
  .src-editable-grid th,
  .src-editable-grid td,
  .p-panel .p-panel-content,
  div.gadget .p-panel .p-panel-header,
  .p-tabview .p-tabview-panels,
  .p-tabview .p-tabview-nav li.p-highlight:hover a,
  .p-tabview .p-tabview-nav li.p-highlight a,
  .page-header,
  .app-header,
  .table-bordered,
  .src-editable-grid,
  div.scroll-table-container .scroll-table tfoot tr:first-child td,
  div.src-editable-grid-container .src-editable-grid tbody tr td,
  div.src-editable-grid-container .src-editable-grid thead tr th,
  .fc td.fc-head-container,
  .fc .fc-divider,
  .daterangepicker,
  .daterangepicker:after,
  .daterangepicker.show-ranges.ltr .drp-calendar.left,
  .daterangepicker .calendar-table,
  .p-tabview .p-tabview-nav li a,
  .p-dialog .p-dialog-header,
  .p-dialog .p-dialog-content,
  .p-dialog .p-dialog-footer,
  .p-inputtext,
  td .user-info img,
  .dropdown-menu,
  .dropdown-header,
  .dropdown-item,
  .rc-time-picker-input,
  .p-listbox,
  .p-accordion .p-accordion-header a,
  .p-inputgroup .p-inputgroup-addon,
  .p-dropdown .p-dropdown-trigger {
    border-color: $background-secondary;
  }

  .fc.fc-theme-standard .fc-view-harness tr,
  .fc.fc-theme-standard .fc-view-harness th,
  .fc.fc-theme-standard .fc-view-harness td,
  .fc.fc-theme-standard .fc-view-harness thead,
  .fc.fc-theme-standard .fc-view-harness tbody,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-row,
  .fc-unthemed .fc-content,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-list-heading td {
    border-color: #000;
  }

  tbody:not(.no-log-bg-hl) {

    td.log-good,
    tr.log-good {
      background-color: #0f300f !important; // $background-color +#0f300f !important;
    }

    td.log-less,
    tr.log-less {
      background-color: #969640 !important; // $background-color + #9b9b53 !important;
    }

    td.log-high,
    tr.log-high {
      background-color: #804740 !important; // $background-color + #804740 !important;
    }
  }

  td.col-holiday {
    background-color: $background-secondary !important;
  }
}

body:not(.skin-dark) {
  $header-logo-bg: #0062cc;
  $header-bg: #3B82F6;
  transition-duration: 500ms;

  @include base-style($header-logo-bg, $header-bg);
}

/*
.skin-blue {
  $header-logo-bg: #367fa9;
  $header-bg: #3c8dbc;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-meadow {
  $header-logo-bg: #1caf9a;
  $header-bg: #8cc1a2;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-purple {
  $header-logo-bg: #555299;
  $header-bg: #605ca8;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-green,
.skin-green2 {
  $header-logo-bg: #008d4c;
  $header-bg: #00a65a;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-red {
  $header-logo-bg: #d73925;
  $header-bg: #dd4b39;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-yellow {
  $header-logo-bg: #e08e0b;
  $header-bg: #f39c12;

  @include base-style($header-logo-bg, $header-bg);
}

.skin-violet {
  $header-logo-bg: #7a4889; //#724381
  $header-bg: #9055A2; //#9055A2
  @include base-style($header-logo-bg, $header-bg);
}

.skin-pink {
  $header-logo-bg: #ec2f6c; //#eb2364
  $header-bg: #ef5285; //#ef5285
  @include base-style($header-logo-bg, $header-bg);
}

.skin-sea {
  $header-logo-bg: #2d7776; //#296e6d
  $header-bg: #379392;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-green3 {
  $header-logo-bg: #40561a;
  $header-bg: #729a2e;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-blue2 {
  $header-logo-bg: #557a95;
  $header-bg: #7395ae;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-cust2 {
  $header-logo-bg: #5d5c61;
  $header-bg: #379683;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-cust3 {
  $header-logo-bg: #ffe400;
  $header-bg: #747474;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-cust5 {
  $header-logo-bg: #7e685a;
  $header-bg: #afd275;
  @include base-style($header-logo-bg, $header-bg);
}

.skin-cust8 {
  $header-logo-bg: #64485c;
  $header-bg: #83677b;
  @include base-style($header-logo-bg, $header-bg);
}*/

.skin-dark {
  $dark-color: #2f353a;
  $second-dark-color: rgba(0, 0, 0, 0.2);
  $primary-color: #3B82F6;
  $font-color: #ffffff;
  //$header-logo-bg: #0062cc;
  transition-duration: 500ms;

  @include deep-style($dark-color, $second-dark-color, $primary-color, $font-color);
}