// If you want to override variables do it here
@import "variables";

// 3rd party styles
@import "font-awesome/css/font-awesome.min.css";
@import "primereact/resources/themes/bootstrap4-light-purple/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
//@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// Prime related style overrides
@import "prime.scss";

// If you want to add something do it here
@import "_custom.scss";

@import "skins.scss";

// ie fixes
// @import "ie-fix";