.gantt-chart {
    min-height: 200px;
    width: 100%;

    &>.p-splitter>.p-splitter-panel {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .gantt-table-container {
        height: 100%;
        width: 100%;
    }

    .gantt-chart-header {
        table-layout: fixed;
        width: 0px;

    }
}