.gantt-chart {
    min-height: 200px;
    height: 100%;
    width: 100%;

    &>.p-splitter>.p-splitter-panel {
        overflow: hidden;
    }

    .gantt-table-container {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .gantt-chart-header {
        table-layout: fixed;
        width: 100%;
    }

    .relative {
        .weekend-marker {
            width: 35px;
            position: absolute;
            height: 100%;
            background-color: #fafafa;
            top: 1px;
        }
    }

    .gantt-body-container {
        height: calc(100% - 68px);
        width: 100%;
        overflow: auto;
    }
}

.abs-height {
    position: absolute;
    height: calc(100% - 1px);
}