.board-header-block {
    display: block;
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
}

.board-container table.board thead.epic-head {
    tr {
        height: 1px;

        th {
            height: 1px;

            &.collapsed-epic-cell {
                width: 40px;
            }
        }
    }
}

tbody.epic-body {
    tr td {
        padding: 3px 0;
        height: 35px;

        div.epic-info {
            background-color: #eeebfd;
            height: 32px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-left: 3px solid #eeebfd;
            border-radius: 5px;
            margin-left: 5px;
            width: calc(100% - 1px);
            cursor: pointer;

            &.selected {
                opacity: 0.6;
            }

            &:not(.delayed):not(.collapsed) {
                width: calc(100% - 12px);
            }

            &.delayed {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border: 1px dashed grey;
                border-left: 3px solid #eeebfd;
                border-right: 0;
            }
        }

        div.epic-delay-info {
            background-color: #fffae6;
            height: 32px;
            width: calc(100% - 6px);
            border-radius: 0 5px 5px 0;
            margin-left: -1px;
            border: 1px dashed grey;
            border-left: 0;

            span.fa {
                margin-top: 3px;
                font-size: 18px;
            }
        }
    }
}