.report-builder {
    height: calc(100vh - 140px) !important;

    .report-controls-cntr {
      width: 265px !important;
    }

    .report-display-cntr {
      width: calc(100% - 267px) !important;
      overflow: auto;
    }
  }